@tailwind base;
@tailwind components;
@tailwind utilities;

header, footer {
  color: #F7EFE2;
  font-family: 'Montserrat', sans-serif;

}

body {
  background-color: #EEEEFF;
  /* background-color: #f8fbf8; */
  font-family: 'Montserrat', sans-serif;
}

